{% load static %}
<html>
    <head>
        <title>Hanna Riaz</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    </head>
    <body class="base-color">
        
        <nav>
            {% for li in ul %}
            <ul>
                <li><a href="home">HOME</a></li>
                <li><a href="cv">CV</a></li>
                <li><a href="lifestyle">LIFESTYLE</a></li>
                <li><a href="contact">CONTACT</a></li>
            </ul>
            {% endfor %}
        </nav>
        
        <div class="page-header" style="text-align:center;">
            {% if user.is.authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Hanna Riaz</a></h1>
            <h2>COMPUTER SCIENCE | LIFESTYLE | COFFEE ADDICT</h2>
        </div>
        <div class="content body-background container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>    
    </body>
</html>
