{% extends 'blog/base.html' %}

{% block content %}
    <nav>
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="cv">CV</a></li>
            <li><a href="lifestyle">LIFESTYLE</a></li>
            <li><a href="contact">CONTACT</a></li>
        </ul>
    </nav>
    <div class="post">
        {% if user.is.authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></
            span></a>
        {% endif %}
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
            
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
